{% extends "bootstrap/base.html" %}

{% block title %}Clean Blog{% endblock %}

{% block navbar %}
<!-- Header Navigation -->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('blog.index') }}">
                CleanBlog
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for("blog.index") }}">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="https://github.com">Github</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
{% endblock %}

{% block content %}
    <!-- Body Main Content -->
    <div class="container main-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md=offset-1">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">
                        Copyright &copy; CleanBlog 2015
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}






